{% extends 'hospital/main.html' %}

{% block title %}Contact Us{% endblock %}

{% load static %}

{% block content %}
<div class="container contact-section">
    <h1 class="mt-5">Contact Us</h1>
    <p>If you have any questions or need assistance, feel free to get in touch with us using the form below or through the provided contact information.</p>

    <div class="row">
        <div class="col-md-6">
            <div class="contact-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="contact-details">
                <h2>Our Contact Information:</h2>
                <p><strong>Email:</strong> <a href="mailto:info@hospitalmanagement.com">info@hospitalmanagement.com</a></p>
                <p><strong>Phone:</strong> +1-234-567-890</p>
                <p><strong>Address:</strong> 123 Healthcare Lane, Medical City, HC 56789</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
